extends layout
block content
    h2 Apply to this Project/Task

     .form

       form(method="post")

        fieldset
         label(for="username") Please add your username:
         input(name="username", type="text", placeholder="Please your username", required)
         label(for="company") Company Name:
         input(name="company", type="text", placeholder="Please add the Company Name of the Project/Task you are applying to", required)
         label(for="jobtitle") Title of the Project/Task:
         input(name="jobtitle", type="text", placeholder="Please add the Title of the Project/Task", required)
         label(for="description") Description:
         input(name="description", type="text", placeholder="Please add a brief description of why you would like to apply", required)
         button.button(type="submit") Apply to Project/Task