extends layout
block content
     #postjobemployer
      h2 Post a Project/Task now and select someone to complete it within the timeframe added!
      a.button(href='/postjob') Post a Project/Task
      
      
     #employerapplies
       #appliestojons
        h2 View the applications to your Project/Task. 
        .postlink
        a.button(href='/candidates') Candidates
        
      
       
       
       
        
     
       
          

         
         