extends layout
block content
     #searchsection
       form(method="post" action="search")
         label(for="search") 
         input(name="search", type="text", Placeholder="Search Keywords,Qualifications and Projects")
         button.button(type="submit") Search
      
      
     #employersection
       #employer
        h2 Employers
         p
        | Post your Project/Task easy and fast with no extra cost. Specify what the project is, what qualifications are needed to complete it, the timeframe and add the amount you are willing to pay. It&apos;s that simple!
        .postlink
         a.button(href='/postjob') Post Project/Task
       #picture
       
       
        
     #jobseekersection
       #jobseeker
        h2 Jobseekers
         p
        | Travel and earn money when it suits you! Pick up projects/tasks that fit your skills. Earn money, work on your skill set and do it from the comfort of your home, plane, bus it doesn't matter!
        .postlink
         a.button(href='/jobs') Find a Project/Task
       #picjob
          

         
         