extends layout
block content
     #searchforjobs
      h2 Complete a Project/Task that suits your skills and earn money!
      a.button(href='/jobs') Find a Project/Task
      
      
     #profilesection
       #profile
        h2 Create a profile 
        p Create a profile to apply to jobs. An easy way to apply and an easy way for employers to view your education, skills and qualifications.
        .postlink
        a.button(href='/createprofile') Create Profile
        h2 Already have a profile? Click on the link below to view, edit or delete. 
        .postlink
        a.button(href='/profile') Profile
       
       
       
        
     #applications
       #applies
        h2 Your applications
        p View your applications
        .postlink
        a.button(href='/') Applications
       
          

         
         