extends layout
block content
    h2 This section is only accessible to jobseekers, if you are a jobseeker please register or login.
    p Register
    a.button(href='/register') Login
    p Already have an account? 
    a.button(href='/login') Login