extends layout
block content
    h2 Please register or login to access this section.
    p Register
    a.button(href='/register') Login
    p Already have an account? 
    a.button(href='/login') Login
        